body {
	max-width:1080px;
	margin: 0 auto
}

#content {
	padding: 1em;
}

@include break($qry_md) {
	#content {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;

}
#primary {
    width: 70%
}
#main {

}
#secondary {
	width: 25%
}
	}
